{{>layouts/headers}}
<!-- contents -->
<form class="container" action="/join" method="post">
    <div class="bg-dark text-white p-5">
        <h>{{username}}님 반갑습니다.</h>
    </div>
</form>
{{>layouts/footers}}
